<section class='body'>
  <div class='container'>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class='row'>

        <!-- 部分テンプレート -->
        <%= render 'layouts/mypage' %>
        <%= render 'layouts/new' %>
        <%= render 'layouts/show' %>

    </div>
  </div>
</section>
