<!-- <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li> -->
<li>
  <%= link_to user_path(current_user) do %>
    <span class="glyphicon glyphicon-home home" aria-hidden="true"></span> Home
  <% end %>
</li>
<li>
  <%= link_to users_path do %>
    <span class="glyphicon glyphicon-user users" aria-hidden="true"></span> Users
  <% end %>
</li>
<li>
  <%= link_to books_path do %>
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books
  <% end %>
</li>
<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> log out
  <% end %>
</li>
