<li><a href="/"><span class="glyphicon glyphicon-home home" aria-hidden="true"></span> Home</a></li>
<li><a href="/"><span class="glyphicon glyphicon-link about" aria-hidden="true"></span> About</a></li>
<li><a href="/users/sign_up"><span class="glyphicon glyphicon-edit sign_up" aria-hidden="true"></span> sign up</a></li>
<li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in sign_in" aria-hidden="true"></span> log in</a></li>
